/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --hue-neutral: 210;
    --heu-wrong: 0;
    --heu-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main-container {
    width: 800px;
    max-width: 70%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid hsl(var(--hue), 100%, 30%);
}
#question {
    color: black;
    font-size: 1.8rem;
}
.count {
    color: black;
    font-size: 1.3rem;
    text-align: right;
    margin-top: 130px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--heu-neitral);
    /* border: 1px solid hsl(var(--hue), 100% 30%); */
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
}

.btn:hover {
    border-color: rgb(220, 220, 220);

}

.btn.correct {
    --hue: var(--hue-correct);
    background-color: green;
    color: black;
    border: 1px solid hsl(var(--hue), 100%, 50%);
}

.btn.wrong {
    --hue: var(--hue-wrong);
    background-color: red;
    color: black;
}

.start-btn, .next-btn {
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hide {
    display: none;
}

@media (max-width: 600px) {
    .main-container {
        width: 100%;

    }
    #question {
        font-size: 1.3rem;
        text-align: center;
    }
    .btn-grid {
        grid-template-columns: repeat(1, auto);
    }
    .controls {
        flex-direction: column;
        align-items: center;
    }
}